@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@200;400;700&display=swap');

 @tailwind base;
@tailwind components;
@tailwind utilities; 

*{
  font-family: 'Lexend', sans-serif;
}

.main {
  width: 100vw;
  min-height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  padding: 120px 24px 160px 24px;
  pointer-events: none;
}

.main:after {
  content: "";
  background-image: url("/assets/images/Login.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
};

@media screen and (max-width: 640px) {
  .main {
    padding: 0;
  }
}

/* Tailwind Styles */

 .app {
  @apply relative z-10 flex justify-center items-center flex-col max-w-7xl mx-auto sm:px-16 px-6;
} 
